In [1]:
import pandas as pd
import glob
import os
from datetime import datetime

In [2]:
#data = pd.read_csv("data/202301282016_OPO_2023.csv")
#data.sort_values(by=['Price'],ascending=True)

In [49]:
path = r'data' # use your path
all_files = glob.glob(os.path.join('data/*OPO*.csv'))
pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True).groupby(['City']).min('Price').sort_values(by=['Price'],ascending=True)

            Duration     Price  MinPrice  is_MinPrice
City
Funchal          120     15.63     15.63          1.0
Luxemburgo       150     18.36     18.36          1.0
Madrid            75     19.28     19.28          1.0
Paris            130     20.20     20.20          1.0
Toulouse         105     21.11     21.11          1.0
...              ...       ...       ...          ...
Camberra        2135   2515.78   2515.78          1.0
Bridgetown      2666   2828.73   2828.73          1.0
Akureyri        2740   2847.77   2847.77          1.0
Hobart          3665   3204.63   3204.63          1.0
Paderborn       1385  10713.07  10713.07          1.0

[563 rows x 4 columns]

In [50]:
#read all the csv files in the data directory
all_files = glob.glob("data/*OPO*.csv")
df = pd.DataFrame()
#loop through all the files and store them in the dataframe
for f in all_files:
    file_name = f.split("/")[-1]
    filename = file_name.split(".")[0]
    df_temp = pd.read_csv(f)
    df_temp["filename"] = filename
    df = df.append(df_temp)
#reorder the columns
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df['dateQuery'] = pd.to_datetime(df['filename'].str[:11], format='%Y%m%d%H%M')

/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
/tmp/ipykernel_2252/4151826890.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)

In [51]:
df

,filename,City,Country,Duration,Price,Airline,Airport,Depart,Return,Link,MinPrice,is_MinPrice,dateQuery
0,202301270916_OPO_2023,Incheon,Coreia do Sul,1175,974.34,Lufthansa,ICN,2023-02-26,2023-03-05,http://kayak.com/flights/OPO-ICN/2023-02-26/20...,974.34,1.0,2023-01-27 09:01:00
1,202301270916_OPO_2023,Paris,FranÃ§a,135,42.21,Ryanair,PAR,2023-03-05,2023-03-09,http://kayak.com/flights/OPO-PAR/2023-03-05/20...,42.21,1.0,2023-01-27 09:01:00
2,202301270916_OPO_2023,Nova Iorque,Estados Unidos,480,412.86,TAP AIR PORTUGAL,NYC,2023-03-15,2023-03-22,http://kayak.com/flights/OPO-NYC/2023-03-15/20...,412.86,1.0,2023-01-27 09:01:00
3,202301270916_OPO_2023,Londres,Reino Unido,145,65.14,Ryanair,LON,2023-02-25,2023-03-01,http://kayak.com/flights/OPO-LON/2023-02-25/20...,65.14,1.0,2023-01-27 09:01:00
4,202301270916_OPO_2023,Los Angeles,Estados Unidos,1950,703.69,VÃ¡rias companhias aÃ©reas,LAX,2023-02-20,2023-02-27,http://kayak.com/flights/OPO-LAX/2023-02-20/20...,703.69,1.0,2023-01-27 09:01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,202301280241_OPO_2023,Nadi,Fiji,2125,2194.19,VÃ¡rias companhias aÃ©reas,NAN,2023-09-06,2023-09-13,http://kayak.com/flights/OPO-NAN/2023-09-06/20...,2194.19,1.0,2023-01-28 02:04:00
404,202301280241_OPO_2023,Brive-la-Gaillarde,FranÃ§a,1005,2290.75,VÃ¡rias companhias aÃ©reas,BVE,2023-07-27,2023-07-31,http://kayak.com/flights/OPO-BVE/2023-07-27/20...,2290.75,1.0,2023-01-28 02:04:00
405,202301280241_OPO_2023,Akureyri,IslÃ¢ndia,2740,2854.47,VÃ¡rias companhias aÃ©reas,AEY,2023-09-18,2023-09-25,http://kayak.com/flights/OPO-AEY/2023-09-18/20...,2854.47,1.0,2023-01-28 02:04:00
406,202301280241_OPO_2023,PoznaÅ„,PolÃ³nia,620,2965.75,VÃ¡rias companhias aÃ©reas,POZ,2023-08-09,2023-08-13,http://kayak.com/flights/OPO-POZ/2023-08-09/20...,2965.75,1.0,2023-01-28 02:04:00
407,202301280241_OPO_2023,Vaitape,PolinÃ©sia Francesa,2170,3442.11,VÃ¡rias companhias aÃ©reas,BOB,2023-02-25,2023-03-04,http://kayak.com/flights/OPO-BOB/2023-02-25/20...,3442.11,1.0,2023-01-28 02:04:00

In [53]:
import numpy as np

#Italia.groupby('City').agg({'Price': [np.min,np.max,np.mean,np.median]}).rename(index={3:'mean'}).info()
#min(['Price']).sort_values(['Price'],ascending=True)
#datetime.strptime(pd.to_datetime(df['date']), '%Y%m%d')
df['month'] = pd.DatetimeIndex(df['dateQuery']).month
df['day'] = pd.DatetimeIndex(df['dateQuery']).day
df['weekday'] = pd.DatetimeIndex(df['dateQuery']).weekday
df['hour'] = pd.DatetimeIndex(df['dateQuery']).hour
df['month_depart'] = pd.DatetimeIndex(df['Depart']).month

baselineOPO = df.groupby(['City','month_depart']).agg(minPrice=('Price', 'min'),maxPrice=('Price', 'max'),meanPrice=('Price', 'mean')).sort_values(['meanPrice'],ascending=True)
baselineOPO.head()

baselineOPO.to_csv('baselineOPO.csv')

In [42]:
Italia = df.query("Country == 'ItÃ¡lia'").sort_values(by=['Price'],ascending=True)
#groupby(['City']).min('Price').sort_values(by=['Price'],ascending=True)
cols = Italia.columns.tolist()
cols = cols[-1:] + cols[:-1]
Italia = Italia[cols]

In [43]:
Italia

,dateQuery,filename,City,Country,Duration,Price,Airline,Airport,Depart,Return,Link,MinPrice,is_MinPrice
27,2023-01-24 02:03:00,202301240238_OPO_2023,MilÃ£o,ItÃ¡lia,155,21.14,VÃ¡rias companhias aÃ©reas,MIL,2023-03-10,2023-03-15,http://kayak.com/flights/OPO-MIL/2023-03-10/20...,21.14,1.0
27,2023-01-23 20:01:00,202301232017_OPO_2023,MilÃ£o,ItÃ¡lia,155,21.19,VÃ¡rias companhias aÃ©reas,MIL,2023-03-10,2023-03-15,http://kayak.com/flights/OPO-MIL/2023-03-10/20...,21.19,1.0
17,2023-01-22 20:01:00,202301222011_OPO_June_2023,MilÃ£o,ItÃ¡lia,155,24.87,Ryanair,MIL,2023-06-14,2023-06-20,http://kayak.com/flights/OPO-MIL/2023-06-14/20...,24.87,1.0
17,2023-01-22 14:00:00,202301221409_OPO_June_2023,MilÃ£o,ItÃ¡lia,155,24.87,Ryanair,MIL,2023-06-14,2023-06-20,http://kayak.com/flights/OPO-MIL/2023-06-14/20...,24.87,1.0
17,2023-01-22 09:01:00,202301220910_OPO_June_2023,MilÃ£o,ItÃ¡lia,155,24.87,Ryanair,MIL,2023-06-14,2023-06-20,http://kayak.com/flights/OPO-MIL/2023-06-14/20...,24.87,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2023-01-25 02:03:00,202301250239_OPO_2023,Rimini,ItÃ¡lia,1280,909.30,VÃ¡rias companhias aÃ©reas,RMI,2023-02-17,2023-02-22,http://kayak.com/flights/OPO-RMI/2023-02-17/20...,909.30,1.0
343,2023-01-23 02:04:00,202301230240_OPO_2023,Rimini,ItÃ¡lia,1280,910.90,VÃ¡rias companhias aÃ©reas,RMI,2023-02-17,2023-02-22,http://kayak.com/flights/OPO-RMI/2023-02-17/20...,910.90,1.0
362,2023-01-23 14:01:00,202301231415_OPO_2023,Rimini,ItÃ¡lia,1280,910.90,VÃ¡rias companhias aÃ©reas,RMI,2023-02-17,2023-02-22,http://kayak.com/flights/OPO-RMI/2023-02-17/20...,910.90,1.0
370,2023-01-23 20:01:00,202301232017_OPO_2023,Rimini,ItÃ¡lia,1280,910.90,VÃ¡rias companhias aÃ©reas,RMI,2023-02-17,2023-02-22,http://kayak.com/flights/OPO-RMI/2023-02-17/20...,910.90,1.0
345,2023-01-23 09:01:00,202301230917_OPO_2023,Rimini,ItÃ¡lia,1280,910.90,VÃ¡rias companhias aÃ©reas,RMI,2023-02-17,2023-02-22,http://kayak.com/flights/OPO-RMI/2023-02-17/20...,910.90,1.0

In [6]:
import smtplib
from email.message import EmailMessage
import ssl 
sender = 'rafabelokurows@gmail.com'
recipient = 'rafabelokurows@gmail.com'
password = input(str('Enter your password: '))
subject = 'Hope this one works :)'
body = 'Sent using Python (if it worked)'

em = EmailMessage()
em['From'] = sender
em['To'] = recipient
em['Subject'] = subject
em.set_content(body)

context = ssl.create_default_context()
with smtplib.SMTP_SSL('smtp.gmail.com',465,context=context) as smtp:
    smtp.login(sender,password)
    smtp.sendmail(sender,recipient,em.as_string())
    
print('Email with deals sent to ',recipient)

Enter your password:  uioftqvqekbyctwb

Email with deals sent to  heloisa.aantunes@gmail.com

In [ ]:
#  email_threshold = 0.85

# for column in range(1,len(df.columns)):
#     col_mean = df.iloc[:,column].mean()
#     if col_mean * email_threshold > df.iloc[-1,column]:
#         name = df.columns[column]
#         msg = 'Flights to ' + name + ' right now are abnormally cheap.<br>'
#         msgs += msg
#         email = True

In [ ]:
password = input('Type your password:')
message = MIMEMultipart('alternative')
message.add_header('Content-Type','html')
flights['Price'] = ['$'+ str(round(i)) for i in flights['Price']]
    sender = 'youremail@domain.com'
    receiver = 'theiremail@domain.com'
    message['Subject'] = "Here is your latest Kayak scrape!"
    message['From'] = sender
    message['To'] = receiver
    html = "<html><head></head><body><p>" + msgs + \
    flights.to_html() + ". </p></body></html>"

    part1 = MIMEText(html, 'html')
    message.attach(part1)
    mail = smtplib.SMTP('smtp.gmail.com', 587)
    mail.ehlo()
    mail.starttls()
    mail.login('your_username', password)
    mail.sendmail(sender, receiver.split(','), message.as_string())
    mail.quit()

In [11]:
path = r'data' # use your path
all_files = glob.glob(os.path.join('data/*MAD*.csv'))
pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True).groupby(['City']).min('Price').sort_values(by=['Price'],ascending=True).head(10)

                        Duration  Price  MinPrice  is_MinPrice
City
Lisboa                        80  18.35     18.35          1.0
Porto                         75  19.28     19.28          1.0
Palma de Maiorca              90  21.12     21.12          1.0
Ibiza                         75  23.86     23.86          1.0
Rabate                       100  24.78     24.78          1.0
TetuÃ£o                        85  24.78     24.78          1.0
Brindisi                     185  24.83     24.83          1.0
Santiago de Compostela        75  25.69     25.69          1.0
Fes                          100  26.61     26.61          1.0
Faro                          80  26.62     26.62          1.0